/* Please scroll down to the start of your exercise! */

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

section {
    background-color: lemonchiffon;
    display: grid;
    place-items: center;
}

.skyblue {
    background-color: skyblue;
}

button {
    background-color: white;
    padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
    border: 3px solid green;
    border-radius: 8px;
    text-decoration: underline;
}

.button2 {
    background-color: rgb(0, 255, 26);
    color: #008b8b;
    border: 1px solid hsl(0, 100%, 50%);
}

.button3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ff00ee;
    background: rgb(255, 196, 0);
    text-transform: uppercase;
}

.button4 {
    background: orange;
    box-shadow: 20px 20px 10px #00ff37;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 10px #ae0e89;
}
