/* Please scroll down to the start of your exercise! */

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

section {
    background-color: lemonchiffon;
    display: grid;
    place-items: center;
}

.skyblue {
    background-color: skyblue;
}

button {
    background-color: white;
    padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
    border: 3px solid green;
    border-radius: 8px;
    text-decoration: underline;
    /* Style me! Change my border, set a border radius or try out other styles. :) */
}

.button2 {
    background-color: rgb(0, 255, 26);
    color: #008b8b;
    border: 1px solid hsl(0, 100%, 50%);

    /* Style me! Change my color or background-color, or both! You can experiment with different color formats here, like HEX, RGB, etc. */
}

.button3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ff00ee;
    background: rgb(255, 196, 0);
    text-transform: uppercase;

    /* Style me! You can test out changing the font, font size, ...*/
}

.button4 {
    background: orange;
    box-shadow: 20px 20px 10px #00ff37;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 10px #ae0e89;

    /* Style me! Can you add a shadow to this button? Try playing around with shadow properties - you can even change the shadow color, size, and more. */
}

/* Feel free to play around with other properties, too. */
