*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

div {
    background-color: hotpink;
    border-radius: 8px;
    color: white;
    font-family: cursive;
    height: 150px;
    padding: 8px;
    width: 150px;
}
